/****  GENERAL ****/
:root {
	--couleurPolice: #434748;
	--couleurHoverOrange: #FD5300;
}

html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
}

img, video {
	width : 100%;
}

.colonne {
	flex-direction: column;
}

/* HEADER */

.titre {
	flex: 10;
}