/****  GENERAL ****/
:root {
	--couleurPolice: #434748;
	--couleurHoverOrange: #FD5300;
}

html, body {
	margin : 0;
	padding : 0;
	font-family: Helvetica, Arial, sans-serif;
	color:var(--couleurPolice);
	background-color: whitesmoke;
	
}


div, header, footer, nav, article, input, a{
	display : flex;
	flex : 1;
}


.centrer {
	align-items: center;
	justify-content: center;
}

a {
	color: black;
	text-decoration: none;
	
}
a:hover {
	color:whitesmoke;
	transition: 1s;
}

img, video {
	width : 100%;
}

.colonne {
	flex-direction: column;
}

.espace {
	flex: 0.2;
}

.block {
	display: block;
}
.espaceH{
	height: 9em;
}
/**************** HEADER ******************/
header, footer {
	background-color: var(--couleurPolice);
}

.titre {
	flex: 20;
	color: var(--couleurHoverOrange);
}
.image {
	flex: 0.2 8 auto;
}

/*************** BOUTON ****************/

.button {
	background:linear-gradient(to bottom, #e8f7ec 5%, #979e93 100%);
    background-color:#979e93;
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	height: 3em;
    text-shadow:0px 1px 0px #979e93;
	color:black;
	width:7em;
}

.button:hover {
	background: var(--couleurHoverOrange);
	color: white;
}

/******************** FOOTER ************************/
footer {
	position: fixed;
	bottom:0;
	width: 100%;
	
}

footer a {
	color: var(--couleurHoverOrange);
}

.footer {
visibility: hidden;
}

/***************** Choix Liste ******************/

.choixListe{
	margin-top: 15em;
}


/***************** CONTENU ******************/
.libelle {
	background:linear-gradient(to bottom, #e8f7ec 5%, #979e93 100%);
    background-color:#979e93;
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
    text-shadow:0px 1px 0px #979e93;
	color:black;
	font-size: larger;
}

.contenuLigne {
	flex: 5;
	margin-top: 2.5em;
}


.label {
	font-size: 1.5em;
	margin-top: 1em;
}


/**** Bouton ****/

.ajouter {
	background:#52943e;
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	text-shadow:0px 1px 0px #979e93;
	font-size: larger;
}

.ajouter:hover {
	background-color: #434748;
	color: whitesmoke;
	
}

.detail {
	background:var(--couleurHoverOrange);
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	text-shadow:0px 1px 0px #979e93;
	font-size: larger;
}

.detail:hover {
	background-color: #434748;
	color: whitesmoke;
}

.modifier {
	background: #4b93ff;
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	font-size: larger;
}

.modifier:hover {
	background-color: #434748;
	color: whitesmoke;
}

.supprimer {
	background:rgb(218, 41, 41);
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	font-size: larger;
}

.supprimer:hover {
	background-color: #434748;
	color: whitesmoke;
}

.retour {
	background:rgb(44, 42, 42);
    border-radius:18px;
    border:1px solid #979e93;
	padding:0.5em;
	text-shadow:0px 1px 0px #979e93;
	font-size: larger;
	color: whitesmoke;
}

.retour:hover {
	background-color: #434748;
}

/* ACCUEIL */
.accueil {
	align-items: center;
}
.presentation {
	flex-direction: column;
	color: var(--couleurHoverOrange);

}
.croissant {
	margin: 1em;
	flex:0.18;
}
.projet {
	flex-direction: column;
	margin: 3em;
}

.croissant2{
		margin: 1em;
		flex:0.18;
}

